.showjs-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 200px;
  padding: 3px;
  background-color: #fff;

  button {
    cursor: pointer;
  }
}

.showjs-anchor {
  .draggable-anchor {
    position: fixed;
    left: 0; top: 0;
    z-index: 100;

    .indicator {
      cursor: pointer;

      width: 100px;
      height: 100px;
      background-color: #3333aa;
    }
  }
}

.showjs-interceptor {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  z-index: 99;
}
